<div class="footer py-5">
  <h2 class="text-center mb-3">Islam Mohamed Ahmed Ali Qodeara</h2>
  <div class="contactIcons my-5">
    <div class="contactIconItem mx-3">
      <div class="icon1">
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
      </div>
      <div class="icon2">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
    </div>
    <div class="contactIconItem mx-3">
      <div class="icon1">
        <a href=""><i class="fa-brands fa-github"></i></a>
      </div>
      <div class="icon2">
        <i class="fa-brands fa-github"></i>
      </div>
    </div>
    <div class="contactIconItem mx-3">
      <div class="icon1">
        <a href=""><i class="fa-brands fa-discord"></i></a>
      </div>
      <div class="icon2">
        <i class="fa-brands fa-discord"></i>
      </div>
    </div>
    <div class="contactIconItem mx-3">
      <div class="icon1">
        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
      </div>
      <div class="icon2">
        <i class="fa-brands fa-whatsapp"></i>
      </div>
    </div>
    <div class="contactIconItem mx-3">
      <div class="icon1">
        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <div class="icon2">
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </div>
    <div class="contactIconItem mx-3">
      <div class="icon1">
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="icon2">
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>
</div>
